
<div class="row">
  <div class="col-md-12">
<form novalidate [formGroup]="cadastroForm">

    <div class="card card-danger">
      <div class="card-header">
        <h3 class="card-title">Endereço</h3>
      </div>
      <div class="card-body">

        <div class="row">
            <div class="form-group col-md-6">
              <label>ENDEREÇO</label>
              <input type="text" class="form-control" placeholder="Endereço" id="logradouro"
                formControlName="logradouro"
                [(ngModel)]="enderecoObj.logradouro"
                [ngClass]="{'is-invalid': cadastroForm.get('logradouro').errors && (cadastroForm.get('logradouro').dirty  || cadastroForm.get('logradouro').touched)}"
                [ngClass]="{'is-valid': cadastroForm.get('logradouro')?.valid}"

              />

              <span class="text-danger"
              *ngIf="cadastroForm.get('logradouro')?.errors?.['required'] && (cadastroForm.get('logradouro').dirty  || cadastroForm.get('logradouro').touched)">
              <p >Preencha o campo Endereço</p>
              </span>
            </div>



            <div class="form-group col-md-6">
              <label>COMPLEMENTO</label>
              <input type="text" class="form-control" placeholder="Complemento" id="complemento"
                formControlName="complemento"
                [ngClass]="{'is-invalid': cadastroForm.get('complemento').errors?.['required'] && (cadastroForm.get('complemento').dirty  || cadastroForm.get('complemento').touched)}"
                [ngClass]="{'is-valid': cadastroForm.get('complemento')?.valid}"
              />

              <span class="text-danger"
              *ngIf="cadastroForm.get('complemento')?.errors?.['required'] && (cadastroForm.get('complemento').dirty  || cadastroForm.get('complemento').touched)">
              <p >Preencha o campo Complemento</p>
              </span>
            </div>
          </div>



          <div class="row">
            <div class="form-group col-md-6">
            <label>Bairro</label>
            <input type="text" class="form-control" placeholder="Bairro" id="bairro"
              formControlName="bairro"
              [(ngModel)]="enderecoObj.bairro"
              [ngClass]="{'is-invalid': cadastroForm.get('bairro').errors?.['required'] && (cadastroForm.get('bairro').dirty  || cadastroForm.get('bairro').touched)}"
              [ngClass]="{'is-valid': cadastroForm.get('bairro')?.valid}"
            />

            <span class="text-danger"
            *ngIf="cadastroForm.get('bairro')?.errors?.['required'] && (cadastroForm.get('bairro').dirty  || cadastroForm.get('bairro').touched)">
            <p >Preencha o campo Bairro</p>
            </span>
          </div>



          <div class="form-group  col-md-6">
            <label>Cidade</label>
            <select class="form-control "
              [(ngModel)]="enderecoObj.localidade"
              formControlName="localidade"
              [ngClass]="{'is-invalid': enderecoObj.localidade === '', 'is-valid': cadastroForm.get('localidade')?.valid}"

            >
                        <option value="">SELECIONE A CIDADE</option>
                        <option value="Suzano">SUZANO</option>
                        <option value="Mogi das Cruzes">MOGI DAS CRUZES</option>
                        <option value="Campos Gerais">CAMPOS GERAIS</option>
            </select>


            <span class="text-danger"
            *ngIf="cadastroForm.get('localidade')?.errors?.['required'] && (cadastroForm.get('localidade').dirty  || cadastroForm.get('localidade').touched)">
            <p >Selecione o campo Cidade</p>
            </span>
           </div>
        </div>




        <div class="row">
          <div class="form-group col-md-2">
            <label>UF</label>
            <select class="form-control "
              [(ngModel)]="enderecoObj.uf"
              (ngModelChange)="trocarEstado($event)"
              formControlName="uf"
              [ngClass]="{'is-invalid': enderecoObj.uf === '', 'is-valid': cadastroForm.get('uf')?.valid}"
            >
              <option value="">-</option>
              <option value="SP">SP</option>
              <option value="MG">MG</option>
            </select>


            <span class="text-danger"
            *ngIf="cadastroForm.get('uf')?.errors?.['required'] && (cadastroForm.get('uf').dirty  || cadastroForm.get('uf').touched)">
            <p >Selecione o campo Estado</p>
            </span>
          </div>




          <div class="form-group col-md-3">
            <label>IBGE</label>
            <input type="text" class="form-control" placeholder="IBGE"
              [(ngModel)]="enderecoObj.ibge"
              formControlName="ibge"
              [ngClass]="{'is-invalid': cadastroForm.get('ibge').errors?.['required'] && (cadastroForm.get('ibge').dirty  || cadastroForm.get('ibge').touched)}"
              [ngClass]="{'is-valid': cadastroForm.get('ibge')?.valid}"
            >

            <span class="text-danger"
            *ngIf="cadastroForm.get('ibge')?.errors?.['required'] && (cadastroForm.get('ibge').dirty  || cadastroForm.get('ibge').touched)">
            <p >Preencha o campo IBGE</p>
            </span>
          </div>


          <div class="form-group col-md-3">
            <label>GIA</label>
            <input type="text" class="form-control" placeholder="GIA" [(ngModel)]="enderecoObj.gia" formControlName="gia"
            [ngClass]="{'is-invalid': cadastroForm.get('gia').errors?.['required'] && (cadastroForm.get('gia').dirty  || cadastroForm.get('gia').touched)}"
            [ngClass]="{'is-valid': cadastroForm.get('gia')?.valid}"
            >

            <span class="text-danger"
            *ngIf="cadastroForm.get('gia')?.errors?.['required'] && (cadastroForm.get('gia').dirty  || cadastroForm.get('gia').touched)">
            <p >Preencha o campo GIA</p>
            </span>
          </div>

          <div class="form-group  col-md-2">
            <label>DDD</label>
            <input type="text" class="form-control" placeholder="DDD" [(ngModel)]="enderecoObj.ddd" formControlName="ddd"
            [ngClass]="{'is-invalid': cadastroForm.get('ddd').errors?.['required'] && (cadastroForm.get('ddd').dirty  || cadastroForm.get('ddd').touched)}"
            [ngClass]="{'is-valid': cadastroForm.get('ddd')?.valid}">


            <span class="text-danger"
            *ngIf="cadastroForm.get('ddd')?.errors?.['required'] && (cadastroForm.get('ddd').dirty  || cadastroForm.get('ddd').touched)">
            <p >Preencha o campo DDD</p>
            </span>
          </div>

          <div class="form-group col-md-2">
            <label>SIAFI</label>
            <input type="text" class="form-control" placeholder="SIAFI" [(ngModel)]="enderecoObj.siafi" formControlName="siafi"
            [ngClass]="{'is-invalid': cadastroForm.get('siafi').errors?.['required'] && (cadastroForm.get('siafi').dirty  || cadastroForm.get('siafi').touched)}"
            [ngClass]="{'is-valid': cadastroForm.get('siafi')?.valid}">

            <span class="text-danger"
            *ngIf="cadastroForm.get('siafi')?.errors?.['required'] && (cadastroForm.get('siafi').dirty  || cadastroForm.get('siafi').touched)">
            <p >Preencha o campo SIAFI</p>
            </span>
          </div>

          <div class="form-group col-md-2">
            <button class="btn btn-success" [disabled]="!cadastroForm.valid" (click)="EnviarParaOPaiCadEndereco()">CADASTRAR</button>
          </div>
        </div>


      </div>
    </div>

</form>
</div>
</div>
