
   <div class="row row-sm-offset">
<div class="col-md-4 multi-horizontal" data-for="email">
  <div class="form-group">
    <label class="form-control-label mbr-fonts-style display-7"
      >Alterar Usuário</label
    >
    <input
      type="text"
      class="form-control"
      name="nome"
      id="nome"
      #nome
      />
  </div>

<button
class="btn btn-danger"
(click)="alterarUsuario()"
>
Trocar Usuario
</button>
</div>

<div class="col-md-4 multi-horizontal" data-for="email">
  <div class="form-group">
    <label class="form-control-label mbr-fonts-style display-7"
      >Alterar Titulo do Sistema</label
    >
    <input
      type="text"
      class="form-control"
      name="titulo"
      id="titulo"
      #titulo
      />
  </div>



<button
class="btn btn-danger"
(click)="alterarTitulo()"
>
Trocar Titulo
</button>
</div>

</div>








 <br>

<img src="/assets/ngrx.jpg">

<!--<h2>Padrão para centralizar a informação na aplicação e o gerenciamento dela</h2>
<h2>Action envia uma ação para o Reducer</h2>
<h2>Reducer captura a ação com a finalidade fazer mutação no Store</h2>-->
